# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: grafana
#   namespace: banking
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: grafana
#   template:
#     metadata:
#       labels:
#         app: grafana
#     spec:
#       containers:
#         - name: grafana
#           image: grafana/grafana:latest
#           ports:
#             - containerPort: 3000
#           env:
#             - name: GF_SECURITY_ADMIN_USER
#               value: admin
#             - name: GF_SECURITY_ADMIN_PASSWORD
#               value: admin
#             - name: GF_USERS_ALLOW_SIGN_UP
#               value: "false"
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: grafana
#   namespace: banking
# spec:
#   type: NodePort
#   ports:
#     - name: web
#       port: 3000
#       targetPort: 3000
#       nodePort: 30300   # fixed for consistent access
#   selector:
#     app: grafana

apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: banking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:11.0.0
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
            - name: GF_USERS_ALLOW_SIGN_UP
              value: "false"
            - name: GF_AUTH_ANONYMOUS_ENABLED
              value: "true"
            - name: GF_AUTH_ANONYMOUS_ORG_ROLE
              value: Viewer
            - name: GF_PATHS_PROVISIONING
              value: /etc/grafana/provisioning
          volumeMounts:
            - name: grafana-storage
              mountPath: /var/lib/grafana
            - name: grafana-provisioning
              mountPath: /etc/grafana/provisioning
            - name: grafana-dashboards
              mountPath: /var/lib/grafana/dashboards
      volumes:
        - name: grafana-storage
          emptyDir: {}
        - name: grafana-provisioning
          configMap:
            name: grafana-provisioning
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboard-red
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: banking
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30300