# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: prometheus
#   namespace: banking
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: prometheus
#   template:
#     metadata:
#       labels:
#         app: prometheus
#     spec:
#       containers:
#         - name: prometheus
#           image: prom/prometheus:latest
#           ports:
#             - containerPort: 9090
#           volumeMounts:
#             - name: prometheus-config
#               mountPath: /etc/prometheus
#       volumes:
#         - name: prometheus-config
#           configMap:
#             name: prometheus-config
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: prometheus
#   namespace: banking
# spec:
#   type: NodePort
#   ports:
#     - name: web
#       port: 9090
#       targetPort: 9090
#       nodePort: 30900   # fixed for consistent access
#   selector:
#     app: prometheus

apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: transaction-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.54.0
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
            - name: prometheus-storage
              mountPath: /prometheus
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: prometheus-config
            items:
              - key: prometheus.yml
                path: prometheus.yml
        - name: prometheus-storage
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: transaction-service
spec:
  selector:
    app: prometheus
  type: NodePort
  ports:
    - name: web
      port: 9090
      targetPort: 9090
      nodePort: 30900
