apiVersion: v1
kind: Service
metadata:
  name: transaction-service
  namespace: transaction-service
spec:
  type: NodePort
  selector:
    app: transaction-service
  ports:
    - name: http
      port: 8082
      targetPort: 8082
      nodePort: 30082